* {
    margin: 0;
    text-align: center;
    /* font-family: 'Sedgwick Ave', cursive; */
    font-family: 'Kaushan Script', cursive;
    font-weight: 100px;
}

section {
    height: 80vh;
    width: 80vw;
    margin: 10vh auto 20vh;
}

p {
    height: inherit;
    width: inherit;
    line-height: 80vh;
}

.one {
    background: url("../images/watch.png") no-repeat center left;
    background-size: cover;
}

#simple {
    font-size: 15vw;
    color: #cfb9ad;
    text-shadow: 0 1px 1px #fff;
}

.two {
    background: url("../images/pastel.png") no-repeat left;
    background-size: cover;
}

#embossed {
    font-size: 15vw;
    color: #cdca5e;
    text-shadow: -1px -1px 1px #fff, 1px 1px 1px #5d5c1d;
}

.three {
    background: url("../images/purple.png") no-repeat center right;
    background-size: cover;
}

#glowing {
    font-size: 15vw;
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px red, 0 0 25px blueviolet;
}

.four {
    background: url("../images/blue.png") no-repeat center;
    background-size: cover;
}

#cloudy {
    font-size: 15vw;
    color: transparent;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.6), 0 0 10px rgba(255, 255, 255, 0.4), 0 0 15px rgba(255, 255, 255, 0.3);
}

.five {
    background: url("../images/color-pencil.png") no-repeat center;
    background-size: cover;
}

#pressed {
    font-size: 15vw;
    background: #ccc6cc;
    color: transparent;
    text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.six {
    background: url("../images/lightblue.png") no-repeat center;
    background-size: cover;
}

#hard-shadow {
    font-size: 10vw;
    color: #6695ac;
    text-shadow: 10px 10px 0 #142026;
}

@media (max-width: 480px) {
    #hard-shadow {
        text-shadow: 4px 4px 0 #142026;
    }
}